<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhar - Carro</title>
    <link rel="stylesheet" href="/formulario.css">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div>
        <h1>Detalhes sobre o Carro</h1>
        <form th:action="@{/carro}" th:object="${carro}" method="get"> 
            <div>
                <label> Cliente Relacionado:
                    <input type="text" th:field="*{cliente.nome}" readonly="readonly">
                </label>
            </div>
            <div>
                <label> Modelo:
                    <input type="text" th:field="*{modelo.nome}" readonly="readonly">
                </label>
            </div>
            <div>
                <label> Código do Carro
                   <input type="text" th:field="*{codigo}" readonly="READONLY"> 
                </label>
            </div>
            <div>
                <label> Placa do Carro
                    <input type="text" th:field="*{placa}" readonly="readonly">
                </label>
            </div>
            <div>
                <label> Número de Chassi:
                    <input type="text" th:field="*{numeroChassi}" readonly="readonly">
                </label>
            </div>
            <div>
                <label> Cor:
                    <input type="text" th:field="*{cor}" readonly="readonly">
                </label>
            </div>
            <div>
                <label> Quilometragem:
                    <input type="text" th:field="*{quilometragem}" readonly="readonly">
                </label>
            </div>
            <div>
                <label> Número de portas:
                    <input type="text" th:field="*{numeroPortas}" readonly="readonly">
                </label>
            </div>
            <input type="submit" value="Voltar">
        </form>
    </div>
</body>
</html>