<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar - Marca</title>
    <link rel="stylesheet" href="/formulario.css">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div>
        <h1>Editar aluno</h1>
        <h3>Não repetir nomes de marca.</h3>
        <form th:action="@{/marca/editar}" th:object="${marca}" method="post">
            <div>
                <label> Código da Marca - Não alterável
                    <input type="number" th:field="*{codigo}" readonly>
                </label>
            </div>
            <div>
                <label> Nome da Marca
                    <input type="text" th:field="*{nome}" minlength="1" maxlength="30" required>
                </label>
            </div>
            <input type="submit" value="Gravar">
            <button type="button"><a href="/marca">Voltar para lista de Marcas</a></button>
        </form>
    </div>
</body>
</html>